/*
  NHS Blue: #005eb8
  NHS White (Background): #f0f4f5
  NHS Black: #212b32
  NHS Font: "Frutiger W01"
*/

html,
body {
  color: yellow;
  background-color: purple;
  font-family: 'Comic Sans MS';
  font-size: calc(19px * 2);
}

header {
  height: 70px;
  background-color: red;
}

header > img {
  height: calc(36px * 25);
  width: calc(88px * 25);
  border: 3px solid transparent;
}

.nhsuk-warning {
  background-color: #fae100;
}

.nhsuk-text__warning {
  color: #8a1538;
  font-weight: 400;
}

.nhsuk-text__strong {
  font-weight: bolder;
}

input {
  width: 300px;
  font-size: 18px;
  padding: 10cm;
  margin-bottom: 20px;
}

main {
  padding-bottom: 100px;
}
